<!DOCTYPE html>
<html>
  <head>
    <title>Restclient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Rest Application Test</h1>
    <%= yield %>
    <p>It is a way of learning https to aplly it in Rails</p>
  </body>
</html>
